.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    animation-direction: normal;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

li {
  list-style: none;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-list li {
  margin: 10px 20px;
}

.nav-item {
  text-decoration: none;
  color: black;
}

.active {
  text-decoration: underline;
}

hr {
  width: 95%;
  margin: 5px auto;
  border: none;
  border-top: 1px solid grey;
}

.profile {
  min-height: 150px;
  display: flex;
  justify-content: space-around;
}

.rocket-profile {
  text-align: left;
  width: 300px;
}

.rocket-profile h2 {
  margin: 25px auto;
}

.rocket-profile ul {
  margin: 3px;
  text-align: center;
  margin: 20px auto;
}

.rocket-profile li {
  border: 1px solid grey;
  padding: 10px;
}
